:root {
    --dark-accent-color: #472183;
    --dark-accent-color-light: #6c4d9c;
    --dark-accent-color-dark: #391a69;
    --header-background: #f1f6f5;
    --light-accent-color: #82c3ec;
    --cancel-color: #ff4242;
    --icon-color: #4b56d2;
    --text-color: #505050;
    --hover-color: white;
    --priority-1-color: #d65156;
    --priority-2-color: #fdc945;
    --priority-3-color: #62b740;
    --priority-4-color: #1b9394;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('./fonts/NotoSans-Regular.ttf');
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans';
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100vh;
}

/* Styling for header and footer */
header, footer {
    background-color: var(--dark-accent-color);
    color: white;    
    text-align: center;
    padding: .5rem;
}

header {
    font-size: 2rem;
    font-weight: bold;
}

footer {
    font-size: .75rem;
}

#main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    box-shadow: -2px 2px 2px 2px gray;
}

.row-names {
    grid-area: 1 / 1 / 2 / 2;
    background-color: var(--header-background);
    width: 50px;
    display: flex;
    flex-direction: column-reverse;
    border-left: 2px solid var(--icon-color);
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.column-names {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--header-background);
    border-bottom: 2px solid var(--icon-color);
    height: 50px;
    display: flex;
}

.spacer {
    background-color: var(--header-background);
    border-bottom: 2px solid var(--icon-color);
    border-left: 2px solid var(--icon-color);
    grid-area: 2 / 1 / 3 / 2;
    width: 50px;
    height: 50px;
}

.game-grid {
    display: grid;
    grid-template-rows: repeat(10, min-content);
    grid-template-columns: repeat(10, min-content);
    border: 1px solid var(--dark-accent-color);
    grid-area: 1 / 2 / 2 / 3;
}

.board-square {
    width: 50px;
    height: 50px;
    border: 1px solid var(--dark-accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ship-square {
    background-color: var(--icon-color);
}

.hit-square {
    background-color: var(--cancel-color);
}

.miss-square {
    background-color: var(--light-accent-color);
}